form {
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-group {
}

.form-group label {
    vertical-align: middle;
}

select {
    max-width: 70%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}